<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.rehabman.blinkscreen</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<false/>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/blinkscreen</string>
		<string>1000</string>
		<string>200</string>
	</array>
</dict>
</plist>