<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>org.rehabman.delete-boot-args</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/sbin/nvram</string>
		<string>-d</string>
		<string>boot-args</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
