@patches = (
             {
               'relocation_offset' => 19083,
               'kprintf_arg' => 37490,
               'kprintf_relocation_index' => '1003',
               'IOSleep_relocation_index' => '488',
               'osx_version' => '10.8.2'
             },
             {
               'relocation_offset' => 19387,
               'kprintf_arg' => 37298,
               'kprintf_relocation_index' => '1003',
               'IOSleep_relocation_index' => '488',
               'osx_version' => '10.8.1'
             },
             {
               'relocation_offset' => 19691,
               'kprintf_arg' => 37029,
               'kprintf_relocation_index' => '1002',
               'IOSleep_relocation_index' => '488',
               'osx_version' => '10.8'
             },
             {
               'relocation_offset' => 22475,
               'kprintf_arg' => 38002,
               'kprintf_relocation_index' => '1006',
               'IOSleep_relocation_index' => '490',
               'osx_version' => '10.8.3'
             }
           );
